.banner {
  width: 100%;
  height: 612px;
  background: url('./../images/Banner-1.webp');
  background-size: cover;
}

.bannerGidravlica {
  width: 100%;
  height: 612px;
  background: url('./../images/gidaravlika-banner.JPG');
  background-size: cover;
}

.bannerAutomatica {
  width: 100%;
  height: 612px;
  background: url('./../images/banner-automatic-itp.jpg');
  background-size: cover;
}

.bannerDescriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 32px;
}

.bannerTitle {
  font-size: 52px;
  font-weight: 500;
  color: #fff;
}

.bannerSubtitle {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 480px) {

  .banner,
  .bannerGidravlica,
  .bannerAutomatica {
    height: 480px;
    background-position-x: center;
  }

  .bannerTitle {
    font-size: 38px;
    text-align: center;
  }

  .bannerSubtitle {
    font-size: 18px;
    text-align: center;
    padding: 0px 45px;
  }
}