.slider-wrapper {
  margin: 0 auto;
  padding: 0px 0px 80px 0px;
  background: linear-gradient(180deg, rgba(1227, 227, 229, 0), rgba(46, 44, 47, 1));
}

.slider-container {
  height: 615px;
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
}

.slick-track {
  display: flex;
  gap: 20px;
}

.slick-arrow {
  bottom: 0;
  right: 0;
  z-index: 10;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #ce5e39;
  border: none;
  display: block;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
}

.slick-prev {
  background: url('../images/arrPrev.svg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
  right: 120px;
}
.slick-next {
  background: url('../images/arrNext.svg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
  right: 0;
}
button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.slide {
  display: block;
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.sliderBattonContainer {
  padding: 60px 0px 0px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}

.sliderBtn {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ce5e39;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.next-btn span {
  margin: -6px 0px 0px -3px;
}

.prev-btn span {
  margin: -6px -3px 0px 0px;
}
