.gidrvlicaPhoto {
  Padding: 80px 0px 0px 0px;
}

.gidrvlicaPhotoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gidravlicaRow {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.gidravlicaImg {
  width: 25%;
  height: 300px;
}

.gidravlicaImg img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
}

.modal-image {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
}

.modal-image {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
}

@media (max-width: 480px) {
  .gidravlicaRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 20px;
  }

  .gidravlicaImg {
    width: 150px;
    height: 140px;
  }

  .gidravlicaImg img {
    display: block;
    width: 100%;
    height: 140px;
    object-fit: cover;
  }
}