.subpageDescription {
  padding: 80px 0px 0px;
  background: rgba(46, 44, 47, 1);
}

.subpageTitle {
  max-width: 610px;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  margin: 0px auto;
}

.subpageDescriptionContainer {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.subpageText {
  padding: 0px 0px 20px 0px;
}

.subpageSEODescription {
  display: flex;
  gap: 20px;
  margin: 50px 0px 0px 0px;
}

.subpageTextContainer {
  width: 50%;
}

.subpageText {}

.subpageVideoContainer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.subpageVideoContainer video {
  width: 700px;
}

.subpageVideo-two {
  justify-content: flex-start;
}

@media (max-width: 480px) {
  .subpageTitle {
    font-size: 22px;
    margin: 0px 0px 40px 0px;
    line-height: 32px;
    padding: 0px 20px;
    text-align: center;
  }

  .subpageDescriptionContainer {
    padding: 0px 20px;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
  }

  .subpageText {
    border-bottom: 1px solid rgb(149, 74, 60, 0.5);
    padding: 20px 0px 20px 0px;
  }

  .subpageSEODescription {
    flex-direction: column;
  }

  .subpageTextContainer {
    width: 100%;
    order: 1;
  }

  .subpageVideoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
  }

  .subpageVideoContainer video {
    width: 340px;
  }

}