@import url('./css/01-header.css');
@import url('./css/02-banner.css');
@import url('./css/03-services.css');
@import url('./css/04-slider.css');
@import url('./css/05-why-are-we.css');
@import url('./css/06-map.css');
@import url('./css/07-footer.css');
@import url('./css/08-animations.css');
@import url('./css/09-subpage-description.css');
@import url('./css/10-subpage-photo.css');
@import url('./css/11-automatica-title.css');


* {
  padding: 0px;
  margin: 0px;
}

body {
  background: rgb(227, 227, 229);
  font-family: 'Inter', sans-serif;
}

.centerContainer {
  max-width: 1580px;
  height: 100%;
  margin: 0px auto;
}

.hiddenContainer {
  overflow: hidden;
}

.main {
  width: 100%;
  position: relative;
}

ul {
  padding: 0px;
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 1580px) {
  .centerContainer {
    padding: 0px 25px;
  }
}

@media (max-width: 480px) {
  .centerContainer {
    margin: 0px 0px;
    padding: 0px 0px;
  }
}