@import url('./css/01-banner.css');
@import url('./css/02-header.css');

* {
  padding: 0px;
  margin: 0px;
}

body {
  background: #E3E3E5;
  font-family: "Inter", sans-serif;

}

.centerContainer {
  max-width: 1580px;
  height: 100%;
  margin: 0px auto;
}

.main {
  width: 100%;
  position: relative;
}

ul {
  padding: 0px;
  list-style-type: none;
}

@media (max-width: 1580px) {
  .centerContainer {
    padding: 0px 25px;
  }
}